# Linking drive

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

# imports

In [2]:
import numpy as np

import matplotlib.pyplot as plt
import pandas as pd
import os

# Loading the dataset

In [3]:
ratings = pd.read_csv('C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/ratings.csv')
movies = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/movies.csv")
tags = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/tags.csv")
genome_tags = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/genome-tags.csv")
genome_scores = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/genome-scores.csv")
links = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/ml-latest/links.csv")

In [4]:
# ratings_other = pd.read_csv('"C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/ratings.csv')
movies_other = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/movies_metadata.csv")
keywords_other = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/keywords.csv")
credits_other = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/credits.csv")
# ratings_small_other = pd.read_csv('"C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/ratings_small.csv')

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\1757968451.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_other = pd.read_csv("C:/Users/FrostyFjord/Documents/movie-recommendation-data/archive/movies_metadata.csv")

# EDA

# For 1st dataset

## ratings

In [5]:
ratings.head(5)

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB

### Dropping irrelevant columns

In [7]:
ratings.drop(columns = ["timestamp"], inplace = True)

### Checking for null values in ratings

In [8]:
for i in ratings.columns:
  print(i, ratings[i].isnull().any())

userId False
movieId False
rating False

### checking for duplicate values

In [9]:
ratings[ratings.duplicated(subset = ['userId', "movieId"])].count()

userId     0
movieId    0
rating     0
dtype: int64

### Printing the unique users and unique movies

In [10]:
print(ratings["userId"].nunique())
print(ratings["movieId"].nunique())

330975
83239

### Removing users who have rated less than 50 movies

In [11]:
df = ratings.groupby("userId")["movieId"].count()

df = df[df >= 50]
ratings = ratings[ratings["userId"].isin(df.index)]
ratings.reset_index(drop = True, inplace = True)

In [12]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1      110     4.0
2       1      158     4.0
3       1      260     4.5
4       1      356     5.0

### Droping movies which have been rated by less than 50 users

In [13]:
df = ratings.groupby("movieId")["userId"].count()
df = df[df >= 50]
ratings = ratings[ratings["movieId"].isin(df.index)]
ratings.reset_index(drop = True, inplace = True)

### Printing the unique users and unique movies

In [14]:
print(ratings["userId"].nunique())
print(ratings["movieId"].nunique())

130561
15899

## movies

In [15]:
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Removing date from movie title

In [16]:
def remove_date(input):
  for i in input:
    if i == "(":
      return input[:input.index(i)].strip()
  return input

movies["title"] = movies["title"].apply(remove_date).reset_index(drop = True)
movies["title"]

0                                          Toy Story
1                                            Jumanji
2                                   Grumpier Old Men
3                                  Waiting to Exhale
4                        Father of the Bride Part II
                            ...
86532                  State of Siege: Temple Attack
86533                                    Ouija Japan
86534      The Men Who Made the Movies: Howard Hawks
86535                       Skinford: Death Sentence
86536    UNZIPPED: An Autopsy of American Inequality
Name: title, Length: 86537, dtype: object

In [17]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

## making the title order from shawshank redemption, the to the shawshank redemption

In [18]:
def change_title(input):
  for i in input:
    if i == ",":
      first = input[:input.index(i)].strip()
      second = input[input.index(i)+2:].strip()
      return second + " " + first
  return input

movies["title"] = movies["title"].apply(change_title).reset_index(drop = True)
movies

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
86532,288967,State of Siege: Temple Attack,Action|Drama
86533,288971,Ouija Japan,Action|Horror
86534,288975,The Men Who Made the Movies: Howard Hawks,Documentary
86535,288977,Skinford: Death Sentence,Crime|Thriller
86536,288983,UNZIPPED: An Autopsy of American Inequality,Documentary

### splitting genres to make a list

In [19]:
def split_genre(input):
  return input.split("|")

movies['genres'] = movies['genres'].apply(split_genre)
movies.head()

,movieId,title,genres
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men,"[Comedy, Romance]"
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II,[Comedy]

### Removing null values

In [20]:
movies.dropna(subset = ["movieId", "title"], inplace = True)

In [21]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

### Removing duplicate values

In [22]:
movies.drop_duplicates(subset=["title"],inplace = True)

In [23]:
print(movies['title'].nunique())
print(movies['movieId'].nunique())

78818
78818

In [24]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78818 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  78818 non-null  int64
 1   title    78818 non-null  object
 2   genres   78818 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.4+ MB

## Tags

In [25]:
tags.head(5)

   userId  movieId            tag   timestamp
0      10      260   good vs evil  1430666558
1      10      260  Harrison Ford  1430666505
2      10      260         sci-fi  1430666538
3      14     1221      Al Pacino  1311600756
4      14     1221          mafia  1311600746

In [26]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328315 entries, 0 to 2328314
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   tag        object
 3   timestamp  int64
dtypes: int64(3), object(1)
memory usage: 71.1+ MB

## genome_tags and genome_scores

In [27]:
genome_tags.head(5)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [28]:
genome_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB

In [29]:
genome_scores.head(5)

   movieId  tagId  relevance
0        1      1    0.03200
1        1      2    0.02225
2        1      3    0.07000
3        1      4    0.05900
4        1      5    0.12300

In [30]:
genome_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18472128 entries, 0 to 18472127
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 422.8 MB

### Merging genome tags and genome scores

In [31]:
genome = pd.merge(genome_scores, genome_tags, on = "tagId")
genome

          movieId  tagId  relevance           tag
0               1      1    0.03200           007
1               1      2    0.02225  007 (series)
2               1      3    0.07000  18th century
3               1      4    0.05900         1920s
4               1      5    0.12300         1930s
...           ...    ...        ...           ...
18472123   288167   1124    0.09875       writing
18472124   288167   1125    0.02950         wuxia
18472125   288167   1126    0.02275          wwii
18472126   288167   1127    0.11225        zombie
18472127   288167   1128    0.03025       zombies

[18472128 rows x 4 columns]

### Keeping only those tags which have a relevance score of > 0.05

In [32]:
genome = genome[genome["relevance"] > 0.05]
genome

          movieId  tagId  relevance             tag
2               1      3    0.07000    18th century
3               1      4    0.05900           1920s
4               1      5    0.12300           1930s
5               1      6    0.13100           1950s
6               1      7    0.06175           1960s
...           ...    ...        ...             ...
18472117   288167   1118    0.08100       workplace
18472118   288167   1119    0.08075  world politics
18472122   288167   1123    0.11450         writers
18472123   288167   1124    0.09875         writing
18472126   288167   1127    0.11225          zombie

[9565955 rows x 4 columns]

### Dropping relevance and making the tags and thier names as a list

In [33]:
tag_list = genome.groupby("movieId")["tag"].apply(list).sort_values().reset_index()
tag_list

       movieId                                                tag
0        72178  [007, 007 (series), 18th century, 1920s, 1930s...
1       219003  [007, 007 (series), 18th century, 1920s, 1930s...
2       207670  [007, 007 (series), 18th century, 1920s, 1930s...
3       125545  [007, 007 (series), 18th century, 1920s, 1930s...
4        38046  [007, 007 (series), 18th century, 1920s, 1930s...
...        ...                                                ...
16371   106624  [absurd, action, adaptation, adapted from:book...
16372    33021  [absurd, action packed, adaptation, adapted fr...
16373   141950  [absurd, adaptation, adapted from:book, adapte...
16374    45100  [absurd, adaptation, adapted from:book, adapte...
16375     5484  [absurd, adaptation, adapted from:book, adapte...

[16376 rows x 2 columns]

# For second dataset

## Keywords

In [34]:
keywords_other.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [35]:
keywords_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

### Rename id to movieID and convert to integer

In [36]:
keywords_other.rename(columns = {"id": "movieId"}, inplace = True)

In [37]:
keywords_other["movieId"] = keywords_other["movieId"].astype("Int64")

### Dropping null and duplicated values

In [38]:
keywords_other.dropna(subset = ["movieId"], inplace = True)

In [39]:
keywords_other.drop_duplicates(subset = ["movieId"], inplace = True)

In [40]:
keywords_other.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movieId   45432 non-null  Int64
 1   keywords  45432 non-null  object
dtypes: Int64(1), object(1)
memory usage: 1.1+ MB

### Converting keywords into a list

In [41]:
def convert_keywords(input):
  input = eval(input)
  keywords = []
  for i in input:
    keywords.append(i['name'])
  return keywords

keywords_other["keywords"]= keywords_other['keywords'].apply(convert_keywords)
keywords_other.head()

   movieId                                           keywords
0      862  [jealousy, toy, boy, friendship, friends, riva...
1     8844  [board game, disappearance, based on children'...
2    15602  [fishing, best friend, duringcreditsstinger, o...
3    31357  [based on novel, interracial relationship, sin...
4    11862  [baby, midlife crisis, confidence, aging, daug...

## Credits

In [42]:
credits_other.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [43]:
credits_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

### Rename id to movieId and convert it to int64

In [44]:
credits_other.rename(columns = {"id" : "movieId"}, inplace = True)

In [45]:
credits_other["movieId"] = credits_other["movieId"].astype("int64")

### extracting top 5 actors in the cast

In [46]:
def get_cast(input):
  input = eval(input)
  cast = []
  for i in input:
    cast.append(i['name'])
  return cast[:5]

credits_other["cast"] =  credits_other['cast'].apply(get_cast)
credits_other.head()

,cast,crew,movieId
0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[Whitney Houston, Angela Bassett, Loretta Devi...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[Steve Martin, Diane Keaton, Martin Short, Kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

### Extracting director from the crew

In [47]:
def get_director(input):
  input = eval(input)
  for i in input:
    if(i['job'] == 'Director'):
      return i['name']
  return np.nan

credits_other["director"] =  credits_other['crew'].apply(get_director)
credits_other.head()

,cast,crew,movieId,director
0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston
2,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch
3,"[Whitney Houston, Angela Bassett, Loretta Devi...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker
4,"[Steve Martin, Diane Keaton, Martin Short, Kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer

In [48]:
credits_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   crew      45476 non-null  object
 2   movieId   45476 non-null  int64
 3   director  44589 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.4+ MB

### Dropping irrelevant columns

In [49]:
credits_other.drop(columns = ["crew"], inplace = True)
credits_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   movieId   45476 non-null  int64
 2   director  44589 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

### Dropping null and duplicated values

In [50]:
credits_other.drop_duplicates(subset = ["movieId"], inplace = True)

In [51]:
credits_other.dropna(subset = ["movieId"], inplace = True)

In [52]:
credits_other.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45432 non-null  object
 1   movieId   45432 non-null  int64
 2   director  44545 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

## Movies

In [53]:
movies_other.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [54]:
movies_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

### Drop irrelevant columns

In [55]:
movies_other.drop(columns = ["adult", "popularity", "revenue","vote_average", "vote_count","belongs_to_collection", "budget", "homepage", "original_language", "original_title", "production_companies", "production_countries", "release_date",  "runtime", "spoken_languages", "status", "video"], inplace = True)

In [56]:
movies_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genres       45466 non-null  object
 1   id           45466 non-null  object
 2   imdb_id      45449 non-null  object
 3   overview     44512 non-null  object
 4   poster_path  45080 non-null  object
 5   tagline      20412 non-null  object
 6   title        45460 non-null  object
dtypes: object(7)
memory usage: 2.4+ MB

### Reformating the columns to be of correct types

In [57]:
movies_other['id'] = pd.to_numeric(movies_other['id'], errors='coerce').astype('Int64')
movies_other["poster_path"] = movies_other["poster_path"].astype("string")
movies_other["tagline"] = movies_other["tagline"].astype("string")
movies_other["title"] = movies_other["title"].astype("string")

In [58]:
movies_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genres       45466 non-null  object
 1   id           45463 non-null  Int64
 2   imdb_id      45449 non-null  object
 3   overview     44512 non-null  object
 4   poster_path  45080 non-null  string
 5   tagline      20412 non-null  string
 6   title        45460 non-null  string
dtypes: Int64(1), object(3), string(3)
memory usage: 2.5+ MB

### Combining overview and tagline as description and dropping overview and tagline

In [59]:
movies_other["overview"] = movies_other["overview"].fillna("")
movies_other["tagline"] = movies_other["tagline"].fillna("")

In [60]:
movies_other["description"] = movies_other["overview"] + " " + movies_other["tagline"]

In [61]:
movies_other.drop(columns = ["overview", "tagline"], inplace = True)

### splitting genres to make a list

In [62]:
def split_genre(input):
  input = eval(input)
  genre = []
  for i in input:
    genre.append(i['name'])
  return genre

movies_other['genres'] = movies_other['genres'].apply(split_genre)
movies_other.head()

,genres,id,imdb_id,poster_path,title,description
0,"[Animation, Comedy, Family]",862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,"[Adventure, Fantasy, Family]",8844,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...
2,"[Romance, Comedy]",15602,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,"[Comedy, Drama, Romance]",31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,[Comedy],11862,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...

### Renaming id to movieId

In [63]:
movies_other.rename(columns = {"id": "movieId"}, inplace = True)

## Combining movies, credits, keywords

In [64]:
movies_credits_keywords_other = pd.merge(movies_other, keywords_other, on = "movieId")
movies_credits_keywords_other = pd.merge(movies_credits_keywords_other, credits_other, on = "movieId")
movies_credits_keywords_other.head()

,genres,movieId,imdb_id,poster_path,title,description,keywords,cast,director
0,"[Animation, Comedy, Family]",862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,"[Adventure, Fantasy, Family]",8844,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,"[Romance, Comedy]",15602,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,"[Comedy, Drama, Romance]",31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,[Comedy],11862,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer

In [65]:
movies_credits_keywords_other.drop(columns = ["movieId"], inplace = True)

# Combining the first and second dataset

In [66]:
combined_dataset = pd.merge(movies, movies_credits_keywords_other, on = "title")
combined_dataset

,movieId,title,genres_x,genres_y,imdb_id,poster_path,description,keywords,cast,director
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]","[Animation, Comedy, Family]",tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,2,Jumanji,"[Adventure, Children, Fantasy]","[Adventure, Fantasy, Family]",tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,3,Grumpier Old Men,"[Comedy, Romance]","[Romance, Comedy]",tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]","[Comedy, Drama, Romance]",tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,5,Father of the Bride Part II,[Comedy],[Comedy],tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...
39119,283405,A Bunch of Amateurs,[Documentary],[Comedy],tt1171226,/uj3Mz9XGvC17mJKuUatsh4NWUML.jpg,"Burt Reynolds stars as Jefferson Steel, a wash...",[],"[Burt Reynolds, Derek Jacobi, Samantha Bond, I...",Andy Cadiff
39120,284081,Leave,"[Horror, Thriller]","[Thriller, Mystery]",tt1446695,/3EPAv34wESOSGdMBMc0xHW37Seu.jpg,Henry Harper is a successful novelist who has ...,[],"[Ron Livingston, Vinessa Shaw, Rick Gomez, Fra...",Robert Celestino
39121,285921,Timescape,"[Adventure, Children, Sci-Fi]","[Mystery, Science Fiction]",tt0104362,/qtx6jCryMocj7wWCnjOZHOTFG4r.jpg,Before they can complete renovations on their ...,[],"[Jeff Daniels, Ariana Richards, Emilia Crow, J...",David Twohy
39122,285939,¡Que Viva México!,[Comedy],"[Documentary, History]",tt0079020,/yzx5OL3AvzxmwCuiXtHZiQCkvLs.jpg,¡Qué viva México! was a film project undertake...,[film history],"[Sergey Bondarchuk, Grigori Aleksandrov]",Sergei M. Eisenstein
39123,286125,Devil's Domain,"[Comedy, Horror]",[Horror],tt0261296,/zvG6CV0ecJymU3cVVIq6uoMLH7R.jpg,An evil sorceress feeds the blood of new bride...,[],"[Surendra Pal, Shehnaz Kudia, Ranjeet, Kanwalj...",Kiran Ramsay

In [67]:
combined_dataset = combined_dataset[combined_dataset["movieId"].isin(ratings["movieId"].unique())]
combined_dataset

,movieId,title,genres_x,genres_y,imdb_id,poster_path,description,keywords,cast,director
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]","[Animation, Comedy, Family]",tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,2,Jumanji,"[Adventure, Children, Fantasy]","[Adventure, Fantasy, Family]",tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,3,Grumpier Old Men,"[Comedy, Romance]","[Romance, Comedy]",tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]","[Comedy, Drama, Romance]",tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,5,Father of the Bride Part II,[Comedy],[Comedy],tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...
39059,232131,The Marksman,"[Action, Thriller]","[Action, Adventure, Thriller]",tt0457090,/vNWU0AFgXn8riAdDB569VPQdMJJ.jpg,Chechen rebels take over a Russian nuclear pla...,[helicopter],"[Wesley Snipes, Emma Samms, William Hope, Anth...",Marcus Adams
39063,241346,Doctor Who: The Time of the Doctor,"[Drama, Sci-Fi]","[Drama, Science Fiction]",tt2986512,/pEFGnBK6Kd4sqbkz7nMo3s4oyi2.jpg,"Orbiting a quiet backwater planet, the massed ...",[],"[Matt Smith, Jenna Coleman, Peter Capaldi, Kar...",James Payne
39085,257281,The Tragedy of Macbeth,"[Drama, Fantasy, Thriller, War]","[War, Drama, History]",tt0067372,/zghViMv9tpKJEfLIxDevI2x7bKd.jpg,A ruthlessly ambitious Scottish lord siezes th...,"[scotland, shakespeare, ambush, showdown, quee...","[Jon Finch, Francesca Annis, Martin Shaw, Tere...",Roman Polanski
39098,270946,Deep Water,"[Drama, Romance, Thriller]","[Documentary, Adventure, Drama, Action]",tt0460766,/oSOMJMDOef9AuviQCzc3S1iTAji.jpg,DEEP WATER is the stunning true story of the f...,"[boat, woman director]","[Tilda Swinton, Simon Russell Beale, Jean Badi...",Louise Osmond
39099,271865,X,"[Horror, Mystery, Thriller]","[Action, Thriller, Romance]",tt1661099,/jrjLmDzn4tzOblDiH9y6RFbt9xO.jpg,"Holly Rowe's retiring, kissing her callgirl li...","[eroticism, prostitution]","[Viva Bianca, Hanna Mangan Lawrence, Peter Doc...",Jon Hewitt

In [68]:
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14016 entries, 0 to 39099
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieId      14016 non-null  int64
 1   title        14016 non-null  object
 2   genres_x     14016 non-null  object
 3   genres_y     14016 non-null  object
 4   imdb_id      14016 non-null  object
 5   poster_path  14007 non-null  string
 6   description  14016 non-null  string
 7   keywords     14016 non-null  object
 8   cast         14016 non-null  object
 9   director     13975 non-null  object
dtypes: int64(1), object(7), string(2)
memory usage: 1.2+ MB

In [69]:
combined_dataset["movieId"].nunique()

12157

In [70]:
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14016 entries, 0 to 39099
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieId      14016 non-null  int64
 1   title        14016 non-null  object
 2   genres_x     14016 non-null  object
 3   genres_y     14016 non-null  object
 4   imdb_id      14016 non-null  object
 5   poster_path  14007 non-null  string
 6   description  14016 non-null  string
 7   keywords     14016 non-null  object
 8   cast         14016 non-null  object
 9   director     13975 non-null  object
dtypes: int64(1), object(7), string(2)
memory usage: 1.2+ MB

## total unique movies

In [71]:
combined_dataset["movieId"].nunique()

12157

## combining the genres from both the datasets

In [72]:
def combine_genres(genrea, genreb):
  genrea.extend(genreb)
  return list(set(genrea))

combined_dataset["genres"] = combined_dataset.apply(lambda x: combine_genres(x["genres_x"], x["genres_y"]), axis = 1)
combined_dataset.drop(columns = ["genres_x", "genres_y"], inplace = True)
combined_dataset

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\1736060398.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["genres"] = combined_dataset.apply(lambda x: combine_genres(x["genres_x"], x["genres_y"]), axis = 1)
C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\1736060398.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset.drop(columns = ["genres_x", "genres_y"], inplace = True)

,movieId,title,imdb_id,poster_path,description,keywords,cast,director,genres
0,1,Toy Story,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,"[Fantasy, Children, Comedy, Animation, Family,..."
1,2,Jumanji,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,"[Fantasy, Children, Family, Adventure]"
2,3,Grumpier Old Men,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,"[Romance, Comedy]"
3,4,Waiting to Exhale,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,"[Romance, Comedy, Drama]"
4,5,Father of the Bride Part II,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,[Comedy]
...,...,...,...,...,...,...,...,...,...
39059,232131,The Marksman,tt0457090,/vNWU0AFgXn8riAdDB569VPQdMJJ.jpg,Chechen rebels take over a Russian nuclear pla...,[helicopter],"[Wesley Snipes, Emma Samms, William Hope, Anth...",Marcus Adams,"[Adventure, Action, Thriller]"
39063,241346,Doctor Who: The Time of the Doctor,tt2986512,/pEFGnBK6Kd4sqbkz7nMo3s4oyi2.jpg,"Orbiting a quiet backwater planet, the massed ...",[],"[Matt Smith, Jenna Coleman, Peter Capaldi, Kar...",James Payne,"[Sci-Fi, Drama, Science Fiction]"
39085,257281,The Tragedy of Macbeth,tt0067372,/zghViMv9tpKJEfLIxDevI2x7bKd.jpg,A ruthlessly ambitious Scottish lord siezes th...,"[scotland, shakespeare, ambush, showdown, quee...","[Jon Finch, Francesca Annis, Martin Shaw, Tere...",Roman Polanski,"[Fantasy, Thriller, War, Drama, History]"
39098,270946,Deep Water,tt0460766,/oSOMJMDOef9AuviQCzc3S1iTAji.jpg,DEEP WATER is the stunning true story of the f...,"[boat, woman director]","[Tilda Swinton, Simon Russell Beale, Jean Badi...",Louise Osmond,"[Thriller, Drama, Action, Documentary, Romance..."
39099,271865,X,tt1661099,/jrjLmDzn4tzOblDiH9y6RFbt9xO.jpg,"Holly Rowe's retiring, kissing her callgirl li...","[eroticism, prostitution]","[Viva Bianca, Hanna Mangan Lawrence, Peter Doc...",Jon Hewitt,"[Mystery, Thriller, Action, Horror, Romance]"

# general EDA

### Merging movies with tag and ratings information

In [73]:
merged_df = pd.merge(movies, ratings, on = "movieId")
merged_df = merged_df[merged_df["movieId"].isin(combined_dataset["movieId"].unique())]
merged_df

,movieId,title,genres,userId,rating
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",1,4.0
1,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",2,5.0
2,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",7,4.0
3,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",10,3.0
4,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",12,5.0
...,...,...,...,...,...
28513853,271865,X,"[Horror, Mystery, Thriller, Action, Thriller, ...",328744,4.0
28513854,271865,X,"[Horror, Mystery, Thriller, Action, Thriller, ...",329018,3.5
28513855,271865,X,"[Horror, Mystery, Thriller, Action, Thriller, ...",329954,3.0
28513856,271865,X,"[Horror, Mystery, Thriller, Action, Thriller, ...",330235,2.5
28513857,271865,X,"[Horror, Mystery, Thriller, Action, Thriller, ...",330447,3.5

### calculating unique movies and users

In [74]:
n_users = merged_df["userId"].nunique()
n_movies = merged_df["movieId"].nunique()
print(f"Number of unique users: {n_users}")
print(f"Number of unique movies: {n_movies}")

Number of unique users: 130560
Number of unique movies: 12157

In [75]:
users_mean_ratings = merged_df.groupby("userId")["rating"].mean()
movies_mean_ratings = merged_df.groupby("movieId")["rating"].mean()
print(f"Mean rating given by users: {users_mean_ratings.mean()}")
print(f"Mean rating of movies: {movies_mean_ratings.mean()}")

Mean rating given by users: 3.6806714390952955
Mean rating of movies: 3.2581841385414725

### Calculating baysian averaage


we calculate the average rating using **Bayesian Average**, given by:

$$
/text{avg_rating} = w_i /cdot A_i + (1 - w_i) /cdot S
$$

Where:
$$
 w_i = /frac{n_i}{n_i + n_{/text{avg}}}
$$
- /( n_i /): Total number of ratings given to movie /( i /)
- /( n_avg /): Average number of ratings given to a movie
- /( A_i /): Average rating of movie /( i /)
- /( S /): Mean average rating

In [76]:
n_i = merged_df.groupby("movieId")["rating"].count()
print("/nn_i: /n" , n_i)
n_avg = merged_df.groupby("movieId")["rating"].count().mean()
print("/nnavg: /n",n_avg)
w = n_i / (n_i + n_avg)
print("/nw: /n", w)
A = merged_df.groupby("movieId")["rating"].mean()
print("/n A: /n",A)
S = merged_df["rating"].mean()
print("/nS: /n", S)
baysian_avg = w * A + (1 - w) * S
print("/n baysian_avg: /n", baysian_avg)

/nn_i: /n movieId
1         57944
2         27299
3          9711
4          2643
5          9837
          ...
232131      109
241346       54
257281      268
270946      105
271865      482
Name: rating, Length: 12157, dtype: int64
/nnavg: /n 2145.3176770584846
/nw: /n movieId
1         0.964298
2         0.927140
3         0.819057
4         0.551968
5         0.820960
            ...
232131    0.048352
241346    0.024553
257281    0.111050
270946    0.046660
271865    0.183457
Name: rating, Length: 12157, dtype: float64
/n A: /n movieId
1         3.885415
2         3.252170
3         3.084543
4         2.823874
5         3.010471
            ...
232131    2.908257
241346    3.555556
257281    3.505597
270946    2.814286
271865    3.272822
Name: rating, Length: 12157, dtype: float64
/nS: /n 3.5324386948212556
/n baysian_avg: /n movieId
1         3.872813
2         3.272591
3         3.165587
4         3.141334
5         3.103924
            ...
232131    3.502258
241346    3.533006
257281    3.529458
270946    3.498930
271865    3.484810
Name: rating, Length: 12157, dtype: float64

In [77]:
baysian_avg_df = baysian_avg.reset_index()
baysian_avg_df.columns = ['movieId', 'baysian_avg']
merged_df = merged_df.merge(baysian_avg_df, on='movieId')

In [78]:
merged_df.head()

,movieId,title,genres,userId,rating,baysian_avg
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",1,4.0,3.872813
1,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",2,5.0,3.872813
2,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",7,4.0,3.872813
3,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",10,3.0,3.872813
4,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",12,5.0,3.872813

In [79]:
merged_df.groupby("title")["baysian_avg"].mean().reset_index().sort_values("baysian_avg", ascending=False).head(10)

                                 title  baysian_avg
10605         The Shawshank Redemption     4.371141
9468                     The Godfather     4.281378
10900               The Usual Suspects     4.235300
9469            The Godfather: Part II     4.216578
7530                  Schindler's List     4.203771
3220                        Fight Club     4.196518
25                        12 Angry Men     4.193469
6954                      Pulp Fiction     4.190418
7092                       Rear Window     4.166583
6449   One Flew Over the Cuckoo's Nest     4.164495

In [80]:
merged_df.groupby("title")["baysian_avg"].mean().reset_index().sort_values("baysian_avg", ascending=True).head(10)

                         title  baysian_avg
1097         Battlefield Earth     2.162683
8047   Speed 2: Cruise Control     2.341153
1077            Batman & Robin     2.360734
710                   Anaconda     2.434073
8317         Super Mario Bros.     2.455074
4146              Home Alone 3     2.485684
11925           Wild Wild West     2.486590
1857                  Catwoman     2.526508
7765                 Showgirls     2.527825
3782                  Grease 2     2.541670

In [81]:
if not os.path.exists("C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/"):
  os.mkdir("C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset")
merged_df.to_csv('C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/merged_rating_df.csv')

# making pivot matrix

## creating the pivot table

In [82]:
pivot = merged_df.pivot_table(index='title', columns='userId', values='rating', )
pivot.fillna(0, inplace=True)
pivot

userId,1,2,7,9,10,12,14,17,21,22,...,330951,330957,330960,330961,330967,330970,330971,330972,330974,330975
title,,,,,,,,,,,,,,,,,,,,,
$9.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
+1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...All the Marbles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...And Justice for All,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx: Return of Xander Cage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nos amours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À propos de Nice,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# making the scipy matrix
this is used for efficient storage of sparse data

In [83]:
from scipy.sparse import csr_matrix
matrix = csr_matrix(pivot)
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 26080627 stored elements and shape (12157, 130560)>

# movie based collaborative filltering model:
## predict similar movies based on similar user ratings
this content based recommender calculates the cosine similarity between the pivot vector for given movie name and rest of the movies in the pivot table. it then returns the most similar vectors. this means if a movies A and B have both been rated highly by say users x, y, z, then upon prediction for movie A, movie B will be returned and vice versa.
the intuition behind this model is that, we try to find movies rated similarly by users. if movie A was liked by user 1 through 10, and there aslso exists a movie B, liked by 9 of these users, we should recommend movie B to the 10th user. he will most likely like it aas well.

## defining the knn model

In [84]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors = 11, algorithm='auto', metric="cosine")
model.fit(matrix)

NearestNeighbors(metric='cosine', n_neighbors=11)

In [85]:
if not os.path.exists("C:/Users/FrostyFjord/Documents/movie-recommendation-data/models"):
  os.mkdir("C:/Users/FrostyFjord/Documents/movie-recommendation-data/models")


import joblib

joblib.dump(model, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/models/movie_collaborative_knn.pkl")
joblib.dump(matrix, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/movie_collaborative_matrix.pkl")
joblib.dump(pivot, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/movie_collaborative_pivot.pkl")

['C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/movie_collaborative_pivot.pkl']

## making recommendations:

In [86]:
import numpy as np

def movie_collaborative_model(pivot, matrix, model, movie_title, num_pred):
    if movie_title not in pivot.index:
        return "Movie not found"

    movie_idx = pivot.index.get_loc(movie_title)
    
    # Extract row from sparse matrix and reshape it
    movie_value_vector = matrix[movie_idx].toarray().reshape(1, -1)

    # Get nearest neighbors
    dist, ind = model.kneighbors(movie_value_vector, n_neighbors=num_pred + 1)

    # Generate recommendations
    recommendations = [pivot.index[i] for i in ind[0] if i != movie_idx]
    return recommendations

In [87]:
title = movies['title'][0]
title

'Toy Story'

In [88]:
title = movies['title'][0]
title
recommendations = movie_collaborative_model(pivot, matrix, model, title, 10)
print(recommendations)

['Toy Story 2', 'Forrest Gump', 'Jurassic Park', 'Back to the Future', 'The Lion King', 'Aladdin', 'Shrek', 'Raiders of the Lost Ark', 'The Matrix', 'The Shawshank Redemption']

# User based collaborative filltering model
## predict similar users based on ratings
in this model we are making the predicitons based on finding similar users. the intuition is once you find 2 users who have similar tastes in movies, any movie user A likes will also be liked by user B

In [89]:
pivot_t = pivot.T
matrix_t = csr_matrix(pivot_t)

## defining the knn model

In [90]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors = 11, algorithm='auto', metric="cosine")
model.fit(matrix_t)

NearestNeighbors(metric='cosine', n_neighbors=11)

In [91]:
import joblib
joblib.dump(model, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/models/user_collaborative_knn.pkl")
joblib.dump(matrix_t, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/user_collaborative_matrix.pkl")
joblib.dump(pivot_t, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/user_collaborative_pivot.pkl")

['C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/user_collaborative_pivot.pkl']

## making recommendations:

In [92]:
import numpy as np

def user_collaborative_model(pivot, matrix, df, model, userId, num_pred):
    if userId not in pivot.index:
        return "User not found"

    user_idx = pivot.index.get_loc(userId)

    # Extract row from sparse matrix and reshape it
    user_value_vector = matrix[user_idx].toarray().reshape(1, -1)

    # Get nearest neighbors
    dist, ind = model.kneighbors(user_value_vector, n_neighbors = num_pred + 1)

    recommendations = []
    for i in ind[0]:
        u_idx = pivot.index[i]
        user_movies = df[df["userId"] == u_idx]

        # Sort by rating and select top movies
        top_movies = user_movies.sort_values(by="rating", ascending=False).head(num_pred // 5)
        recommendations.extend(top_movies["title"].tolist())

    return recommendations

In [93]:
user = merged_df[merged_df["userId"] == 1]
user

,movieId,title,genres,userId,rating,baysian_avg
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fanta...",1,4.0,3.872813
834029,110,Braveheart,"[Action, Drama, War, Action, Drama, History, War]",1,4.0,3.943530
1090997,158,Casper,"[Adventure, Children, Fantasy, Comedy, Family]",1,4.0,3.001977
2244845,356,Forrest Gump,"[Comedy, Drama, Romance, War, Comedy, Drama, R...",1,5.0,4.011056
2586841,381,When a Man Loves a Woman,"[Drama, Romance, Drama, Romance]",1,3.5,3.420020
3923530,596,Pinocchio,"[Animation, Children, Fantasy, Musical, Animat...",1,4.0,3.509171
5328914,1036,Die Hard,"[Action, Crime, Thriller, Action, Thriller]",1,5.0,3.917807
5403875,1049,The Ghost and the Darkness,"[Action, Adventure, Adventure]",1,3.0,3.418117
5436096,1066,Shall We Dance,"[Comedy, Musical, Romance, Comedy, Music, Roma...",1,4.0,3.709928
6087811,1200,Aliens,"[Action, Adventure, Horror, Sci-Fi, Horror, Ac...",1,3.5,3.975997
6264782,1214,Alien,"[Horror, Sci-Fi, Horror, Action, Thriller, Sci...",1,4.0,4.037071
7190911,1291,Indiana Jones and the Last Crusade,"[Action, Adventure, Adventure, Action]",1,5.0,3.965127
7241217,1293,Gandhi,"[Drama, Drama, History]",1,2.0,3.908481
7602941,1376,Star Trek IV: The Voyage Home,"[Adventure, Comedy, Sci-Fi, Science Fiction, A...",1,3.0,3.528491
7775005,1396,Sneakers,"[Action, Comedy, Crime, Drama, Sci-Fi, Comedy,...",1,3.0,3.636773
8088077,1537,Shall We Dance?,"[Comedy, Drama, Romance, Music, Comedy, Drama,...",1,4.0,3.802633
9385777,1959,Out of Africa,"[Drama, Romance, Drama]",1,4.0,3.585764
9390687,1960,The Last Emperor,"[Drama, Drama, History]",1,4.0,3.787108
9797089,2028,Saving Private Ryan,"[Action, Drama, War, Drama, History, War]",1,5.0,4.016249
10092615,2116,The Lord of the Rings,"[Adventure, Animation, Children, Fantasy, Fant...",1,4.0,3.290178
10720926,2336,Elizabeth,"[Drama, Drama, History]",1,3.5,3.804844
11351250,2571,The Matrix,"[Action, Sci-Fi, Thriller, Action, Science Fic...",1,2.5,4.137680
11660087,2671,Notting Hill,"[Comedy, Romance, Romance, Comedy, Drama]",1,4.0,3.467544
12034091,2762,The Sixth Sense,"[Drama, Horror, Mystery, Mystery, Thriller, Dr...",1,5.0,3.974792
12195913,2804,A Christmas Story,"[Children, Comedy, Comedy, Family]",1,3.0,3.909158
12406787,2908,Boys Don't Cry,"[Drama, Crime, Drama, Comedy]",1,4.0,3.732358
13590278,3363,American Graffiti,"[Comedy, Drama, Comedy, Drama]",1,3.0,3.735395
14024437,3578,Gladiator,"[Action, Adventure, Drama, Action, Drama, Adve...",1,5.0,3.926954
15314821,4246,Bridget Jones's Diary,"[Comedy, Drama, Romance, Comedy, Romance, Drama]",1,4.0,3.375206
15408131,4306,Shrek,"[Adventure, Animation, Children, Comedy, Fanta...",1,4.0,3.725160
15865068,4699,Original Sin,"[Drama, Romance, Thriller, Thriller]",1,3.5,3.326738
16230521,4993,The Lord of the Rings: The Fellowship of the Ring,"[Adventure, Fantasy, Adventure, Fantasy, Action]",1,4.0,4.064383
16295359,4995,A Beautiful Mind,"[Drama, Romance, Drama, Romance]",1,5.0,3.915630
17265051,5952,The Lord of the Rings: The Two Towers,"[Adventure, Fantasy, Adventure, Fantasy, Action]",1,4.5,4.038889
17880040,6539,Pirates of the Caribbean: The Curse of the Bla...,"[Action, Adventure, Comedy, Fantasy, Adventure...",1,4.0,3.757767
18445937,7122,King of Hearts,"[Comedy, Drama, War, Comedy, Drama, War]",1,4.0,3.583858
18454678,7139,In America,"[Drama, Romance, Drama, Romance]",1,3.0,3.718152
18507683,7153,The Lord of the Rings: The Return of the King,"[Action, Adventure, Drama, Fantasy, Adventure,...",1,5.0,4.062445
18580069,7162,Cold Mountain,"[Drama, Romance, War, Drama]",1,4.0,3.515969
18752509,7366,Jersey Girl,"[Comedy, Drama, Romance, Comedy, Romance, Come...",1,3.5,3.311210
18915528,7706,Animal Crackers,"[Comedy, Musical, Comedy]",1,3.5,3.661732
19143642,8533,The Notebook,"[Drama, Romance, Romance, Drama, Drama, War]",1,5.0,3.594330
19471526,8961,The Incredibles,"[Action, Adventure, Animation, Children, Comed...",1,4.5,3.823844
19519102,8969,Bridget Jones: The Edge of Reason,"[Comedy, Drama, Romance, Comedy, Romance]",1,4.0,3.191360
19551909,8981,Closer,"[Drama, Romance, Drama, Romance]",1,3.5,3.556935
20060552,33794,Batman Begins,"[Action, Crime, IMAX, Action, Crime, Drama]",1,3.0,3.885682
20334948,40629,Pride & Prejudice,"[Drama, Romance, Drama, Romance]",1,4.5,3.745148
21222746,52458,Disturbia,"[Drama, Thriller, Thriller, Drama, Mystery]",1,5.0,3.379284
21357541,53996,Transformers,"[Action, Sci-Fi, Thriller, IMAX, Adventure, Sc...",1,5.0,3.102701
21396318,54259,Stardust,"[Adventure, Comedy, Fantasy, Romance, Adventur...",1,4.0,3.736310

In [94]:
user = 1
recommendations = user_collaborative_model(pivot_t, matrix_t,merged_df, model, user, 10)
print(recommendations)

['Die Hard', 'Forrest Gump', "Schindler's List", 'Braveheart', 'Braveheart', 'Pulp Fiction', 'The Shawshank Redemption', 'Blade Runner', 'Braveheart', 'The Lion King', 'Raiders of the Lost Ark', 'Indiana Jones and the Last Crusade', 'Braveheart', 'Legends of the Fall', 'Forrest Gump', 'Hoosiers', 'Batman Begins', 'Saving Private Ryan', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'The Bourne Identity', 'The Lord of the Rings: The Two Towers', 'The Lord of the Rings: The Fellowship of the Ring']

# Content based recommendation system
use nlp to get movies with similar summary

## Load the spacy model

In [95]:
!pip install spacy
!python -m spacy download en_core_web_md

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: spacy in c:\program files\python312\lib\site-packages (3.8.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\program files\python312\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\program files\python312\lib\site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\program files\python312\lib\site-packages (from spacy) (1.0.12)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\program files\python312\lib\site-packages (from spacy) (2.0.11)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\program files\python312\lib\site-packages (from spacy) (3.0.9)
Requirement already satisfied: thinc<8.4.0,>=8.3.4 in c:\program files\python312\lib\site-packages (from spacy) (8.3.4)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\program files\python312\lib\site-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\program files\python312\lib\site-packages (from spacy) (2.5.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\program files\python312\lib\site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.5.0,>=0.1.0 in c:\program files\python312\lib\site-packages (from spacy) (0.4.1)
Requirement already satisfied: typer<1.0.0,>=0.3.0 in c:\program files\python312\lib\site-packages (from spacy) (0.15.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\program files\python312\lib\site-packages (from spacy) (4.67.1)
Requirement already satisfied: numpy>=1.19.0 in c:\program files\python312\lib\site-packages (from spacy) (2.2.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\program files\python312\lib\site-packages (from spacy) (2.32.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in c:\program files\python312\lib\site-packages (from spacy) (2.11.0)
Requirement already satisfied: jinja2 in c:\program files\python312\lib\site-packages (from spacy) (3.1.6)
Requirement already satisfied: setuptools in c:\program files\python312\lib\site-packages (from spacy) (78.1.0)
Requirement already satisfied: packaging>=20.0 in c:\program files\python312\lib\site-packages (from spacy) (24.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\program files\python312\lib\site-packages (from spacy) (3.5.0)
Requirement already satisfied: language-data>=1.2 in c:\program files\python312\lib\site-packages (from langcodes<4.0.0,>=3.2.0->spacy) (1.3.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\program files\python312\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.0 in c:\program files\python312\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.33.0)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\program files\python312\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.13.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\program files\python312\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\program files\python312\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\program files\python312\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\program files\python312\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\program files\python312\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2025.1.31)
Requirement already satisfied: blis<1.3.0,>=1.2.0 in c:\program files\python312\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (1.2.0)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\program files\python312\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (0.1.5)
Requirement already satisfied: colorama in c:\program files\python312\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\program files\python312\lib\site-packages (from typer<1.0.0,>=0.3.0->spacy) (8.1.8)
Requirement already satisfied: shellingham>=1.3.0 in c:\program files\python312\lib\site-packages (from typer<1.0.0,>=0.3.0->spacy) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\program files\python312\lib\site-packages (from typer<1.0.0,>=0.3.0->spacy) (13.9.4)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in c:\program files\python312\lib\site-packages (from weasel<0.5.0,>=0.1.0->spacy) (0.21.0)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in c:\program files\python312\lib\site-packages (from weasel<0.5.0,>=0.1.0->spacy) (7.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\program files\python312\lib\site-packages (from jinja2->spacy) (3.0.2)
Requirement already satisfied: marisa-trie>=1.1.0 in c:\program files\python312\lib\site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy) (1.2.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\program files\python312\lib\site-packages (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\program files\python312\lib\site-packages (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (2.19.1)
Requirement already satisfied: wrapt in c:\program files\python312\lib\site-packages (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.1.0->spacy) (1.17.2)
Requirement already satisfied: mdurl~=0.1 in c:\program files\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (0.1.2)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting en-core-web-md==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl (33.5 MB)
     ---------------------------------------- 0.0/33.5 MB ? eta -:--:--
     --------------------------------------- 0.0/33.5 MB 991.0 kB/s eta 0:00:34
     ---------------------------------------- 0.1/33.5 MB 1.1 MB/s eta 0:00:32
     ---------------------------------------- 0.2/33.5 MB 1.2 MB/s eta 0:00:28
     ---------------------------------------- 0.2/33.5 MB 1.3 MB/s eta 0:00:27
     ---------------------------------------- 0.3/33.5 MB 1.3 MB/s eta 0:00:26
     ---------------------------------------- 0.3/33.5 MB 1.2 MB/s eta 0:00:27
     ---------------------------------------- 0.4/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.5/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.5/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.6/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.7/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.7/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.8/33.5 MB 1.3 MB/s eta 0:00:26
      --------------------------------------- 0.8/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 0.9/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.0/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.0/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.1/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.1/33.5 MB 1.3 MB/s eta 0:00:25
     - -------------------------------------- 1.2/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.3/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.3/33.5 MB 1.3 MB/s eta 0:00:25
     - -------------------------------------- 1.4/33.5 MB 1.3 MB/s eta 0:00:26
     - -------------------------------------- 1.5/33.5 MB 1.3 MB/s eta 0:00:25
     - -------------------------------------- 1.5/33.5 MB 1.3 MB/s eta 0:00:25
     - -------------------------------------- 1.6/33.5 MB 1.3 MB/s eta 0:00:25
     - -------------------------------------- 1.6/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 1.7/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 1.8/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 1.8/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 1.9/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 1.9/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.0/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.1/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.1/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.2/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.3/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.3/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.4/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.4/33.5 MB 1.3 MB/s eta 0:00:25
     -- ------------------------------------- 2.5/33.5 MB 1.3 MB/s eta 0:00:25
     --- ------------------------------------ 2.6/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.6/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.7/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.7/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.8/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.9/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 2.9/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.0/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.0/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.1/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.2/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.2/33.5 MB 1.3 MB/s eta 0:00:24
     --- ------------------------------------ 3.3/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.4/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.4/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.5/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.6/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.6/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.7/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.7/33.5 MB 1.3 MB/s eta 0:00:24
     ---- ----------------------------------- 3.8/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 3.9/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 3.9/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 4.0/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 4.0/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 4.1/33.5 MB 1.3 MB/s eta 0:00:23
     ---- ----------------------------------- 4.2/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.2/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.3/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.3/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.4/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.5/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.5/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.6/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.6/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.7/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.8/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.8/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.9/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 4.9/33.5 MB 1.3 MB/s eta 0:00:23
     ----- ---------------------------------- 5.0/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.1/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.1/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.2/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.3/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.3/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.4/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.4/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.5/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.6/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.6/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.7/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.7/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.8/33.5 MB 1.3 MB/s eta 0:00:22
     ------ --------------------------------- 5.9/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 5.9/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.0/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.0/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.1/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.2/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.2/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.3/33.5 MB 1.3 MB/s eta 0:00:22
     ------- -------------------------------- 6.3/33.5 MB 1.3 MB/s eta 0:00:21
     ------- -------------------------------- 6.4/33.5 MB 1.3 MB/s eta 0:00:21
     ------- -------------------------------- 6.5/33.5 MB 1.3 MB/s eta 0:00:21
     ------- -------------------------------- 6.5/33.5 MB 1.3 MB/s eta 0:00:21
     ------- -------------------------------- 6.6/33.5 MB 1.3 MB/s eta 0:00:21
     ------- -------------------------------- 6.6/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 6.7/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 6.8/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 6.8/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 6.9/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 6.9/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.0/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.1/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.1/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.2/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.2/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.3/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.4/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.4/33.5 MB 1.3 MB/s eta 0:00:21
     -------- ------------------------------- 7.5/33.5 MB 1.3 MB/s eta 0:00:21
     --------- ------------------------------ 7.6/33.5 MB 1.3 MB/s eta 0:00:21
     --------- ------------------------------ 7.6/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 7.7/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 7.7/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 7.8/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 7.9/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 7.9/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.0/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.0/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.1/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.2/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.2/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.3/33.5 MB 1.3 MB/s eta 0:00:20
     --------- ------------------------------ 8.4/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.4/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.5/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.5/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.6/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.7/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.7/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.8/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.8/33.5 MB 1.3 MB/s eta 0:00:20
     ---------- ----------------------------- 8.9/33.5 MB 1.3 MB/s eta 0:00:19
     ---------- ----------------------------- 9.0/33.5 MB 1.3 MB/s eta 0:00:19
     ---------- ----------------------------- 9.0/33.5 MB 1.3 MB/s eta 0:00:19
     ---------- ----------------------------- 9.1/33.5 MB 1.3 MB/s eta 0:00:19
     ---------- ----------------------------- 9.1/33.5 MB 1.3 MB/s eta 0:00:19
     ---------- ----------------------------- 9.2/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.3/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.3/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.4/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.5/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.5/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.6/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.6/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.7/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.7/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.8/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.9/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 9.9/33.5 MB 1.3 MB/s eta 0:00:19
     ----------- ---------------------------- 10.0/33.5 MB 1.3 MB/s eta 0:00:19
     ------------ --------------------------- 10.1/33.5 MB 1.3 MB/s eta 0:00:19
     ------------ --------------------------- 10.1/33.5 MB 1.3 MB/s eta 0:00:19
     ------------ --------------------------- 10.2/33.5 MB 1.3 MB/s eta 0:00:19
     ------------ --------------------------- 10.2/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.3/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.4/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.4/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.5/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.5/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.6/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.7/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.7/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.8/33.5 MB 1.3 MB/s eta 0:00:18
     ------------ --------------------------- 10.9/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 10.9/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.0/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.0/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.1/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.2/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.2/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.3/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.3/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.4/33.5 MB 1.3 MB/s eta 0:00:18
     ------------- -------------------------- 11.5/33.5 MB 1.3 MB/s eta 0:00:17
     ------------- -------------------------- 11.5/33.5 MB 1.3 MB/s eta 0:00:17
     ------------- -------------------------- 11.6/33.5 MB 1.3 MB/s eta 0:00:17
     ------------- -------------------------- 11.7/33.5 MB 1.3 MB/s eta 0:00:17
     ------------- -------------------------- 11.7/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 11.8/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 11.8/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 11.9/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.0/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.0/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.1/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.1/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.2/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.2/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.3/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.4/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.4/33.5 MB 1.3 MB/s eta 0:00:17
     -------------- ------------------------- 12.5/33.5 MB 1.3 MB/s eta 0:00:17
     --------------- ------------------------ 12.6/33.5 MB 1.3 MB/s eta 0:00:17
     --------------- ------------------------ 12.6/33.5 MB 1.3 MB/s eta 0:00:17
     --------------- ------------------------ 12.7/33.5 MB 1.3 MB/s eta 0:00:17
     --------------- ------------------------ 12.7/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 12.8/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 12.9/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 12.9/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.0/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.0/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.1/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.1/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.2/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.3/33.5 MB 1.3 MB/s eta 0:00:16
     --------------- ------------------------ 13.3/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.4/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.5/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.5/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.6/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.6/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.7/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.8/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.8/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 13.9/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 14.0/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 14.0/33.5 MB 1.3 MB/s eta 0:00:16
     ---------------- ----------------------- 14.1/33.5 MB 1.3 MB/s eta 0:00:15
     ---------------- ----------------------- 14.1/33.5 MB 1.3 MB/s eta 0:00:15
     ---------------- ----------------------- 14.2/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.3/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.3/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.4/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.4/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.5/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.6/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.6/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.7/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.7/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.8/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.9/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 14.9/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 15.0/33.5 MB 1.3 MB/s eta 0:00:15
     ----------------- ---------------------- 15.1/33.5 MB 1.3 MB/s eta 0:00:15

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [96]:
!python --version

Python 3.12.0

In [97]:
import spacy
nlp = spacy.load("en_core_web_md")

In [98]:
def preprocess_text(text):
      if isinstance(text, str):
        doc = nlp(text)
        tokens = [token.lemma_.lower() for token in doc if not token.is_stop and token.is_alpha]
        processed_text = ' '.join(tokens)
        return processed_text
      return np.nan

## Summary based system
using overview and tagline of the movie to get similar predictions

### Apply preprocessing on description

In [99]:
combined_dataset["description"]

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
39059    Chechen rebels take over a Russian nuclear pla...
39063    Orbiting a quiet backwater planet, the massed ...
39085    A ruthlessly ambitious Scottish lord siezes th...
39098    DEEP WATER is the stunning true story of the f...
39099    Holly Rowe's retiring, kissing her callgirl li...
Name: description, Length: 14016, dtype: string

In [100]:
combined_dataset["description"] = combined_dataset["description"].apply(preprocess_text)
combined_dataset["description"]

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\1174493881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["description"] = combined_dataset["description"].apply(preprocess_text)

0        lead woody andy toy live happily room andy bir...
1        sibling judy peter discover enchanted board ga...
2        family wedding reignite ancient feud door neig...
3        cheat mistreat step woman hold breath wait elu...
4        george banks recover daughter wedding receive ...
                               ...
39059    chechen rebel russian nuclear plant mysterious...
39063    orbit quiet backwater planet mass force univer...
39085    ruthlessly ambitious scottish lord sieze thron...
39098    deep water stunning true story fateful voyage ...
39099    holly rowe retiring kiss callgirl life goodbye...
Name: description, Length: 14016, dtype: object

### making a tfidf model

In [101]:
combined_dataset["description"] = combined_dataset["description"].fillna('')

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\750205400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["description"] = combined_dataset["description"].fillna('')

In [102]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer()
X = tv.fit_transform(combined_dataset["description"]).toarray()

In [103]:
import joblib
joblib.dump(tv, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/models/summary_based_tfidf_vectorizer.pkl")
joblib.dump(X, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/summary_based_tfidf_matrix.pkl")

['C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/summary_based_tfidf_matrix.pkl']

### Using cosine similarity to predict similar movies

In [104]:
from sklearn.metrics.pairwise import cosine_similarity
def get_similar_article(text, vectorizer, X, df, top_n=5):
  if isinstance(text, str):
    preprocessed_text = preprocess_text(text)
    X_text = vectorizer.transform([preprocessed_text])
    similarity_scores = cosine_similarity(X, X_text).flatten()
    top_indices = similarity_scores.argsort()[-top_n:][::-1]
    return df.iloc[top_indices], similarity_scores[top_indices], similarity_scores

In [105]:
similar_movies, scores, similarity_scores = get_similar_article(combined_dataset["description"][1], tv, X, combined_dataset,10)
print(scores)
similar_movies

[0.92345099 0.22133993 0.2054015  0.1832714  0.17046748 0.1702312
 0.16860097 0.16138394 0.15892901 0.15195642]

,movieId,title,imdb_id,poster_path,description,keywords,cast,director,genres
1,2,Jumanji,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,sibling judy peter discover enchanted board ga...,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,"[Fantasy, Children, Family, Adventure]"
18170,98122,Indie Game: The Movie,tt1942884,/pjR3TkkbprUKtB4pHdxnyRRkJMa.jpg,indie game movie feature documentary video gam...,"[games, woman director, programmers, coding]","[Jonathan Blow, Phil Fish, Edmund McMillen, To...",Lisanne Pajot,[Documentary]
26097,135137,Pixels,tt2120120,/ktyVmIqfoaJ8w0gDSZyjhhOPpD6.jpg,video game expert recruit military fight era v...,"[video game, nerd, alien attack, 3d, pixels]","[Adam Sandler, Michelle Monaghan, Peter Dinkla...",Chris Columbus,"[Sci-Fi, Comedy, Action, Science Fiction]"
21138,115534,Ouija,tt1204977,/vHTXN00kJktCbSLV50Vbk9siNiX.jpg,group friend confront terrifying fear awaken d...,"[death of a friend, swimming pool, ouija, ouij...","[Olivia Cooke, Ana Coto, Daren Kagasoff, Bianc...",Stiles White,[Horror]
9860,27884,Word Wars,tt0390632,/bYm622FYzbyKXIGrK8u0CYAbzuq.jpg,classic board game scrabble popular decade add...,"[competition, scrabble, documentary, board game]","[Mike Birbiglia, Joe Edley, Matt Graham, Marlo...",Eric Chaikin,"[Documentary, Comedy, Drama]"
6698,6304,Brainscan,tt0109327,/mNNJ3bFfthv651n3eOZlM68w1KO.jpg,lonely teenage horror movie fan discover myste...,"[video game, pretended murder, hypnosis, virtu...","[Edward Furlong, Frank Langella, T. Ryder Smit...",John Flynn,"[Fantasy, Comedy, Thriller, Sci-Fi, Science Fi..."
7379,7006,Knight Moves,tt0104627,/wo521ayNdKhGA42BWyC3AIvXW2d.jpg,psychologist fall world class chess player sus...,"[chess, chess champion, suspense]","[Christopher Lambert, Diane Lane, Tom Skerritt...",Carl Schenkel,"[Mystery, Thriller]"
11103,44731,Stay Alive,tt0441796,/9iPpBKxpkgxHtsyGcnSlSN5KTu6.jpg,mysterious brutal death old friend group teena...,"[video game, hacker, virtual reality, virtual ...","[Jon Foster, Samaire Armstrong, Frankie Muniz,...",William Brent Bell,"[Sci-Fi, Horror, Thriller]"
10305,33113,Act of Violence,tt1159985,/oVEygwKmobB2MXHChF3MJlz1ThZ.jpg,finish school group guy girl set spend holiday...,[],"[Vinzenz Kiefer, Tobias Schenke, Anna Bertheau...",Lars Henning Jung,"[Film-Noir, Drama, Thriller]"
8286,8395,The Last of Sheila,tt0070291,/t3Zh1kw0mTkvfdCOELrvxS03Hz6.jpg,year sheila kill hit run multimillionaire husb...,"[yacht, scavenger hunt, whodunit, ensemble cas...","[Richard Benjamin, Dyan Cannon, James Coburn, ...",Herbert Ross,"[Crime, Mystery, Thriller]"

## cast based content recommendation system
using cast, director, genres and keywords to predict similar movies

### Making a seperate column consisting of cast, directors, genre and keywords.
including director 5 times to give it more weightage

In [106]:
def get_string_from_list(list):
  return ' '.join(list)

combined_dataset["cast"] = combined_dataset["cast"].apply(get_string_from_list)
combined_dataset["genres"] = combined_dataset["genres"].apply(get_string_from_list)
combined_dataset["keywords"] = combined_dataset["keywords"].apply(get_string_from_list)

combined_dataset["cast_director_genre_keywords"] = combined_dataset["cast"] + combined_dataset["director"] * 5 + combined_dataset["genres"] + combined_dataset["keywords"]

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2821678487.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["cast"] = combined_dataset["cast"].apply(get_string_from_list)
C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2821678487.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["genres"] = combined_dataset["genres"].apply(get_string_from_list)
C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2821678487.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["keywords"] = combined_dataset["keywords"].apply(get_string_from_list)
C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2821678487.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["cast_director_genre_keywords"] = combined_dataset["cast"] + combined_dataset["director"] * 5 + combined_dataset["genres"] + combined_dataset["keywords"]

In [107]:
combined_dataset["cast_director_genre_keywords"][0]

'Tom Hanks Tim Allen Don Rickles Jim Varney Wallace ShawnJohn LasseterJohn LasseterJohn LasseterJohn LasseterJohn LasseterFantasy Children Comedy Animation Family Adventurejealousy toy boy friendship friends rivalry boy next door new toy toy comes to life'

In [108]:
combined_dataset['cast_director_genre_keywords'].apply(preprocess_text)
combined_dataset["cast_director_genre_keywords"][0]

'Tom Hanks Tim Allen Don Rickles Jim Varney Wallace ShawnJohn LasseterJohn LasseterJohn LasseterJohn LasseterJohn LasseterFantasy Children Comedy Animation Family Adventurejealousy toy boy friendship friends rivalry boy next door new toy toy comes to life'

In [109]:
combined_dataset["cast_director_genre_keywords"] = combined_dataset["cast_director_genre_keywords"].fillna(" ")

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2571974191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["cast_director_genre_keywords"] = combined_dataset["cast_director_genre_keywords"].fillna(" ")

### Creating a count vectorizer model

In [110]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(combined_dataset["cast_director_genre_keywords"]).toarray()

In [111]:
import joblib
joblib.dump(cv, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/models/cast_based_count_vectorizer.pkl")
joblib.dump(X, "C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/cast_based_count_matrix.pkl")

['C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/cast_based_count_matrix.pkl']

In [112]:
similar_movies, scores, similarity_scores = get_similar_article(combined_dataset["cast_director_genre_keywords"][0],cv, X, combined_dataset)
print(scores)
similar_movies

[0.9435642  0.5728919  0.49156769 0.44410268 0.42190981]

,movieId,title,imdb_id,poster_path,description,keywords,cast,director,genres,cast_director_genre_keywords
0,1,Toy Story,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,lead woody andy toy live happily room andy bir...,jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter,Fantasy Children Comedy Animation Family Adven...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...
3342,3114,Toy Story 2,tt0120363,/3CmK3XurcLeUyMifCR28ibzupbB.jpg,andy head cowboy camp leave toy device thing s...,museum prosecution identity crisis airplane fl...,Tom Hanks Tim Allen Joan Cusack Kelsey Grammer...,John Lasseter,Fantasy Children Comedy Animation Family Adven...,Tom Hanks Tim Allen Joan Cusack Kelsey Grammer...
17783,95856,Knick Knack,tt0097674,/6bic6H6Tz6b9l31Zm8Hva6vuQu0.jpg,life shelf snowman trap snow globe blizzard we...,snowman snowglobes short pixar animation,,John Lasseter,Children Animation,John LasseterJohn LasseterJohn LasseterJohn La...
16387,87876,Cars 2,tt1216475,/AblhtULOVtrkSnFxRPQ8gBemxw9.jpg,star race car lightning mcqueen pal mater head...,car race sequel comedy anthropomorphism best f...,Owen Wilson Larry the Cable Guy Michael Caine ...,John Lasseter,Children Comedy Animation Family Adventure IMAX,Owen Wilson Larry the Cable Guy Michael Caine ...
20074,109420,Mater and the Ghostlight,tt0901686,/sQWHFt51t3ZaOskX27OUwBqQilv.jpg,mater rusty trusty tow truck car spend day rad...,cgi tow truck police car short pixar animation,Larry the Cable Guy Owen Wilson Michael Wallis...,John Lasseter,Children Family Comedy Animation,Larry the Cable Guy Owen Wilson Michael Wallis...

In [116]:
combined_dataset.to_csv('C:/Users/FrostyFjord/Documents/movie-recommendation-data/dataset/combined_dataset.csv')

## Hybrid content recommendation system

In [117]:
combined_dataset["overall_detail"] = combined_dataset["description"] + combined_dataset["cast_director_genre_keywords"]*2

C:\Users\FrostyFjord\AppData\Local\Temp\ipykernel_19584\2430994360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_dataset["overall_detail"] = combined_dataset["description"] + combined_dataset["cast_director_genre_keywords"]*2

### Creating a tfidf vectorizer model

In [118]:
from sklearn.feature_extraction.text import CountVectorizer

cv_full = CountVectorizer()
X = cv_full.fit_transform(combined_dataset["overall_detail"]).toarray()

MemoryError: Unable to allocate 11.1 GiB for an array with shape (14016, 105830) and data type int64

In [ ]:
similar_movies, scores, similarity_scores = get_similar_article(combined_dataset["overall_detail"][1], cv_full, X, combined_dataset)
print(scores)
similar_movies

# Use suprise library (collaborative filtering models) to save space (do not run now)

In [ ]:
!pip install surprise

In [ ]:
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split, cross_validate, GridSearchCV
from surprise import KNNBasic, KNNWithMeans, KNNWithZScore, KNNBaseline, SVD
from surprise import accuracy
import random

## Building the test and train dataset

In [ ]:
reader = Reader(rating_scale=(0, 5))
data   = Dataset.load_from_df(df[['userId','title','rating']], reader)
raw_ratings = data.raw_ratings

random.shuffle(raw_ratings)

threshold   = int(len(raw_ratings)*0.8)

train_raw_ratings = raw_ratings[:threshold]
test_raw_ratings  = raw_ratings[threshold:]

data.raw_ratings = train_raw_ratings        # data is now the trainset
trainset = data.build_full_trainset()
testset = data.construct_testset(test_raw_ratings)

## Training 4 models

In [ ]:
models=[KNNBasic(),KNNWithMeans(),KNNWithZScore(),SVD()]
results = {}

for model in models:
    CV_scores = cross_validate(model, data, measures=["MAE","RMSE"], cv=5, n_jobs=-1)

    result = pd.DataFrame.from_dict(CV_scores).mean(axis=0)
    results[str(model).split("algorithms.")[1].split("object ")[0]] = result

In [ ]:
performance_df = pd.DataFrame.from_dict(results)
print("Model Performance: /n")
performance_df.T.sort_values(by='test_rmse')

### grid search for hyperparameter tuning for knn with mmeans

In [ ]:
param_grid = { 'sim_options' : {'min_support': [3,5],
                                'user_based': [False, True]}
             }

gridsearchKNNWithMeans = GridSearchCV(KNNWithMeans,
                                      param_grid = param_grid,
                                      measures=['mae', 'rmse'],
                                      cv=5,
                                      n_jobs=-1)

gridsearchKNNWithMeans.fit(data)

print(f'MAE Best Parameters:  {gridsearchKNNWithMeans.best_params["mae"]}')
print(f'MAE Best Score:       {gridsearchKNNWithMeans.best_score["mae"]}/n')

print(f'RMSE Best Parameters: {gridsearchKNNWithMeans.best_params["rmse"]}')
print(f'RMSE Best Score:      {gridsearchKNNWithMeans.best_score["rmse"]}/n')
best_params_knn = gridsearchKNNWithMeans.best_params["rmse"]

### hyperparameter tuning for svd model using gridsearch

In [ ]:
param_grid = {"n_factors": range(10,100,20),
              "n_epochs" : [5, 10, 20],
              "lr_all"   : [0.002, 0.005],
              "reg_all"  : [0.2, 0.5]}

gridsearchSVD = GridSearchCV(SVD, param_grid, measures=['mae', 'rmse'], cv=5, n_jobs=-1)

gridsearchSVD.fit(data)

print(f'MAE Best Parameters:  {gridsearchSVD.best_params["mae"]}')
print(f'MAE Best Score:       {gridsearchSVD.best_score["mae"]}/n')

print(f'RMSE Best Parameters: {gridsearchSVD.best_params["rmse"]}')
print(f'RMSE Best Score:      {gridsearchSVD.best_score["rmse"]}/n')
best_params_svd = gridsearchSVD.best_params["rmse"]

## Getting predictions from svd algorithm

In [ ]:
def generate_recommendationsSVD(userID, get_recommend =10):
    model = SVD(**best_params_svd)
    model.fit(trainset)
    testset = trainset.build_anti_testset()
    predictions = model.test(testset)
    predictions_df = pd.DataFrame(predictions)
    predictions_userID = predictions_df[predictions_df['uid'] == userID].sort_values(by="est", ascending = False).head(get_recommend)

    recommendations = []
    recommendations.append(list(predictions_userID['iid']))
    recommendations = recommendations[0]

    return(recommendations)

In [ ]:
recom = generate_recommendationsSVD(11676)
recom